@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter', sans-serif;
    color: rgb(26, 24, 24);
}


a,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color:azure
}


.nuxt-link,
.nuxt-link-exact-active {
    font-size: large;
    text-decoration: none;

}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Inter', sans-serif;
    color: rgb(10, 7, 7);
    font-weight: bold;
}
